:root {
    --bs-green-bold: #15B500;
    --bs-red-light: #FB1B3E;
    --bs-red-bold: #F42355;
    --bs-yellow: #EBC11B;
    --bs-blue: #0078FF;
    --bs-white: #FFFFFF;
    --bs-gray: #8D8D8D;
    --bs-royal-gray: #E9F5FE;
    --bs-green-light: #00CB58;
    --bs-blue-bold: #235DF4;
    --bs-red-pink: #F42355;
    --bs-orange: #FF9800;
    --bs-white-smoke: #f8f9fa ;
}

$my-map: (
    "green-bold",
    "red-light",
    "red-bold",
    "yellow",
    "blue",
    "white",
    "gray",
    "royal-gray",
    "green-light",
    "blue-bold",
    "red-pink",
    "orange",
    "white-smoke"
);

@each $key in $my-map {

    // css class text color
    .text-color-#{$key} {
        color: var(--bs-#{$key}) !important;
    }

    // css class bg color
    .bg-color-#{$key} {
        background-color: var(--bs-#{$key}) !important;
    }

    // css border color
    .border-color-#{$key} {
        border-color: var(--bs-#{$key}) !important;
    }

    // css text hover
    .text-hover-#{$key} {
        &:hover {
            color: var(--bs-#{$key}) !important;
        }
    }

    // css text hover underline
    .text-hover-underline-#{$key} {
        &:hover {
            color: var(--bs-#{$key}) !important;
            text-decoration-line: underline;
        }
    }
}